In [1]:
using Pkg
Pkg.add("DataFrames")
Pkg.add("CSV")
using DataFrames
using CSV

    Updating registry at `~/.julia/registries/General.toml`
   Resolving package versions...
  No Changes to `~/Desktop/julia-notebooks/Project.toml`
  No Changes to `~/Desktop/julia-notebooks/Manifest.toml`
   Resolving package versions...
  No Changes to `~/Desktop/julia-notebooks/Project.toml`
  No Changes to `~/Desktop/julia-notebooks/Manifest.toml`

In [2]:
df = DataFrame(CSV.File("biostats.csv"))

18×5 DataFrame
 Row │ Name     Sex      Age    Height (in)  Weight (lbs)
     │ String7  String1  Int64  Int64        Int64
─────┼────────────────────────────────────────────────────
   1 │ Alex     M           41           74           170
   2 │ Bert     M           42           68           166
   3 │ Carl     M           32           70           155
   4 │ Dave     M           39           72           167
   5 │ Elly     F           30           66           124
   6 │ Fran     F           33           66           115
   7 │ Gwen     F           26           64           121
   8 │ Hank     M           30           71           158
  ⋮  │    ⋮        ⋮       ⋮         ⋮            ⋮
  12 │ Luke     M           34           72           163
  13 │ Myra     F           23           62            98
  14 │ Neil     M           36           75           160
  15 │ Omar     M           38           70           145
  16 │ Page     F           31           67           135
  17 │ Quin     M           29           71           176
  18 │ Ruth     F           28           65           131
                                            3 rows omitted

In [3]:
select(df, "Age")

18×1 DataFrame
 Row │ Age
     │ Int64
─────┼───────
   1 │    41
   2 │    42
   3 │    32
   4 │    39
   5 │    30
   6 │    33
   7 │    26
   8 │    30
  ⋮  │   ⋮
  12 │    34
  13 │    23
  14 │    36
  15 │    38
  16 │    31
  17 │    29
  18 │    28
3 rows omitted

In [4]:
using Statistics
mean(df.Age)

34.666666666666664

In [5]:
median(df.Age)

32.5